/server/Izeat/nbproject/private/
/server/Izeat/build/
*.class
*.log
*.ctxt
.mtj.tmp/
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.idea/
*iml
.gradle
build/
client/izeat3/app/build/
local.properties
*.jar
client/izeat3/app/src/main/lib/json-20190722.jar
/server/Izeat/dist/
